/Proyectos/Pruebas/nbproject/private/
/Proyectos/Pruebas/build/
/Proyectos/Practica2/nbproject/private/
/Proyectos/Practica2/build/
/Proyectos/Practica2CambioUnidades(Botones)/build/
/Proyectos/Practica2CambioUnidades(Botones)/nbproject/private/
