/UD1/Practicas/PracticaMenus/nbproject/private/
/UD1/Practicas/PracticaMenus/build/
/UD1/Proyectos/Layouts/nbproject/private/
/UD1/Proyectos/cuadrosDialogo/nbproject/private/
/UD1/Proyectos/cuadrosDialogo/build/
/UD1/Proyectos/imagenes/nbproject/private/
/UD1/Proyectos/imagenes/build/
/UD1/Proyectos/Contenedores/nbproject/private/
/UD1/Proyectos/Contenedores/build/
/UD1/Proyectos/ventanas/nbproject/private/
/UD1/Proyectos/ventanas/build/
