.progress-indicator {
    -fx-progress-color: #FF0000;
}

.toggle-button {
    -fx-text-fill: green;
    -fx-background-color: linear-gradient(to bottom, blue, white); /* Gradiente suave */
    -fx-border-color: white;
    -fx-border-width: 2px;
}

.text-field {
    -fx-text-fill: red;
    -fx-font-family: 'Courier New', Courier, monospace;
}